<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website</title>
    <link rel="stylesheet" href="css/blogs.css">
</head>
<body>
    
    <%-include("navbar") %>

   
    <div class="container">
        <img src="images/tapshare.jpeg">
        <% if(blogs.length==0){ %>
        
            <h1>No Blogs</h1>
        
        
<%    }else{ %>

        <% blogs.forEach((blog)=>{ %>
        <div class="card">
            <h2><%- blog.title %></h2>
            <h3><%- blog.subTitle %></h3>
            <p><%- blog.description %></p>
            <a href="/single/<%-blog.id %>">Read more</a>
        </div>
    <%       }) %>
<% } %>
       
    </div>
</body>
</html>
